asgiref==3.7.2
asttokens==2.4.1
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
comm==0.2.1
cryptography==41.0.7
cssselect==1.2.0
debugpy==1.8.0
decorator==5.1.1
dj-database-url==2.0.0
Django==5.1.14
django-appconf==1.0.6
django-cors-headers==4.3.1
django-cryptography==1.1
django-filter==23.5
djangorestframework==3.14.0
espn-api==0.36.0
executing==2.0.1
gunicorn==21.2.0
packaging==23.1
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
pyquery==2.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyzmq==25.1.2
requests==2.31.0
six==1.16.0
sleeper==1.7.3
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
tornado==6.4
traitlets==5.14.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.7
wcwidth==0.2.13
