name: Django CI

on:
  push:
    branches: [ "main", "prod" ]
  pull_request:
    branches: [ "main", "prod" ]

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      postgres:
          image: postgres:15
          env:
            POSTGRES_DB: test_db
            POSTGRES_USER: test_user
            POSTGRES_PASSWORD: test_password
          ports:
            - 5432:5432
          options: >-
            --health-cmd="pg_isready -U test_user -d test_db"
            --health-interval=10s
            --health-timeout=5s
            --health-retries=5
      mongo:
        image: mongo:6
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: rootpassword
        ports:
          - 27017:27017
        options: >-
          --health-cmd="mongosh --username root --password rootpassword --eval 'db.runCommand({ ping: 1 })'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    env:
      ENVIRONMENT: "test"
      DJANGO_SETTINGS_MODULE: ffwebsite.settings.test
      DATABASE_URL: postgres://test_user:test_password@localhost:5432/test_db
      MONGO_URL: mongodb://root:rootpassword@localhost:27017
      MONGO_DB_NAME: test_mongo
      API_AUTH_TOKEN: ""
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      SLEEPER_USER_KEY: ${{ secrets.SLEEPER_USER_KEY }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Create sample.json
      working-directory: ffwebsite
      run: |
        python leaderboard/tests/write_sample.py 
    - name: Run Tests
      working-directory: ffwebsite
      run: |
        python manage.py test
