name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    env:
      ENVIRONMENT: "develop"
      DB_NAME: ""
      DB_USER: ""
      DB_PASSWORD: ""
      DB_HOST: ""
      DB_PORT: ""
      DATABASE_URL: ""
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      SLEEPER_USER_KEY: ${{ secrets.SLEEPER_USER_KEY }}
      DJANGO_DEBUG: False
      SECURE_CONTENT_TYPE_NOSNIFF: True
      SECURE_HSTS_SECONDS: True
      SECURE_SSL_REDIRECT: True
      SESSION_COOKIE_SECURE: True
      CSRF_COOKIE_SECURE: True
      SECURE_HSTS_INCLUDE_SUBDOMAINS: True
      SECURE_HSTS_PRELOAD: True
      ESPN_ID: 0
      ESPN_SWID: 0
      ESPN_S2: 0
      SLEEPER_USER_ID: 0
      SLEEPER_ID: 0

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      working-directory: ffwebsite
      run: |
        python manage.py test
